@font-face {
    font-family: 'Arvo';
    src: url('./fonts/Arvo-Italic.woff2') format('woff2'),
        url('./fonts/Arvo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('./fonts/Arvo-BoldItalic.woff2') format('woff2'),
        url('./fonts/Arvo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('./fonts/Arvo-Bold.woff2') format('woff2'),
        url('./fonts/Arvo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('./fonts/Arvo.woff2') format('woff2'),
        url('./fonts/Arvo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Regular.woff2') format('woff2'),
        url('./fonts/Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Italic.woff2') format('woff2'),
        url('./fonts/Cabin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-BoldItalic.woff2') format('woff2'),
        url('./fonts/Cabin-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Bold.woff2') format('woff2'),
        url('./fonts/Cabin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-SemiBold.woff2') format('woff2'),
        url('./fonts/Cabin-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/Cabin-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-MediumItalic.woff2') format('woff2'),
        url('./fonts/Cabin-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Italic.woff2') format('woff2'),
        url('./fonts/Cabin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Medium.woff2') format('woff2'),
        url('./fonts/Cabin-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Regular.woff2') format('woff2'),
        url('./fonts/Cabin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-Regular.woff2') format('woff2'),
        url('./fonts/CabinCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-MediumItalic.woff2') format('woff2'),
        url('./fonts/CabinCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/CabinCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-Medium.woff2') format('woff2'),
        url('./fonts/CabinCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-BoldItalic.woff2') format('woff2'),
        url('./fonts/CabinCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-Bold.woff2') format('woff2'),
        url('./fonts/CabinCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-SemiBold.woff2') format('woff2'),
        url('./fonts/CabinCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin Condensed';
    src: url('./fonts/CabinCondensed-Italic.woff2') format('woff2'),
        url('./fonts/CabinCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-Regular.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-Bold.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-SemiBold.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-Italic.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin SemiCondensed';
    src: url('./fonts/CabinSemiCondensed-Medium.woff2') format('woff2'),
        url('./fonts/CabinSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
